# Virtual Environment
.venv/

# Python
__pycache__/
*.pyc

# Environment Variables
.env

# VS Code
.vscode/

# Logs
logs/

# Vector Database
data/processed/
data/vector_store/

# Streamlit
.streamlit/secrets.toml

# macOS
.DS_Store