fastapi
uvicorn[standard]

streamlit

langchain
langchain-community
langchain-openai
langchain-text-splitters
langchain-huggingface

faiss-cpu

sentence-transformers

pymupdf
python-docx
beautifulsoup4

python-dotenv

pydantic
pydantic-settings

tiktoken

openai

rank-bm25

numpy
pandas

python-multipart

pytest

tqdm

google-genai